<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="WFRoot" value="x:\" />
    <add key="WFReturn" value="" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <httpRuntime maxRequestLength="2097151" />
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows" />
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Filer.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>