<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WFRoot" value="..\"/>
    <add key="WFReturn" value=""/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <httpRuntime maxRequestLength="2097151"/>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>